.signin-widget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    z-index: 1;
}

.title {
    width: 100%;
    text-align: center;
    color: white;
}

.signin-container {
    background-color: var(--fantasy-plug-blue);
    height: 100vh;
}

article {
    background-color: white;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.signin-button {
    width: 40%;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}