.page-content-container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.filter-container {
    width: 300px;
    text-align: center;
    overflow: scroll;
}

.player-container {
    border: 1px var(--fantasy-plug-blue) solid;
    flex-grow: 1;
    margin-left: 5%;
    display: flex;
    width: 1000px;
    justify-content: space-around;
    overflow: scroll;
    align-items: flex-start;
    flex-flow: wrap;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.pa2 {
    padding-bottom: 10%;
}