#card:hover {
    cursor: pointer;
}

#card {
    width: 255px;
}

.position-team {
    display: flex;
    justify-content: space-between;
    color: darkgrey;
}

.first-name {
    color: black;
    width: 100%;
    text-align: left;
}

.last-name {
    color: var(--fantasy-plug-blue);
    width: 100%;
    text-align: left;
}