#card:hover {
    cursor: pointer;
}

#card {
    width: 255px;
    background-color: var(--fantasy-plug-blue);
}

.position-team {
    display: flex;
    justify-content: space-between;
    color: lightblue;
}

.first-name {
    color: black;
    width: 100%;
    text-align: left;
}

.last-name {
    color: white;
    width: 100%;
    text-align: left;
}